


.logo {
  font-family: var(--secondary-font-family);
  @include fonts(26px, 700, 31px);
  color: var(--main-dark-color);
  letter-spacing: 0.03em;
  display: block;

  &__accent {
    color: var(--accent-color);
  }
}

@media screen and (max-width:1199px) {
  .logo {
    @include fonts(24px, 700, 28px);
  }
}


// .logo--theme-dark {
//   color: var(--main-light-color);
// }

// .page-footer__logo {
//   margin-bottom: 20px;
// }

// .logo {
//   font-family: var(--secondary-font-family);
//   @include fonts(26px, 700, 31px);
//   color: var(--main-dark-color);
//   letter-spacing: 0.03em;
//   display: block;
